--extra-index-url https://backend:dc222fa6-452f-4253-a2fd-a52e7ba2e7e9@nexus.sigame.com.br/repository/pypi/simple
Flask==2.1.2
motor==3.0.0
heimdall-client==2.3.1
iara-client==0.5.0
persephone-client==1.7.0.post0
etria-logger==0.1.11
